body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F5F5F5;
    color: #333333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #0055A4;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center the navigation items */
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    opacity: 0.6;
    color: #000000;
    font-weight: bold;
    font-size: 16px;
}

section {
    width: 80%; /* Adjust the width as needed */
    margin: 20px auto; /* Center the section */
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333333;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    margin-top: auto; /* Push the footer to the bottom */
}
.event-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%; /* Cards take up 100% width */
}

.event-item img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.event-item a {
    margin-top: 10px;
    display: inline-block;
    background-color: #0055A4;
    color: #FFFFFF;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

.event-item a:hover {
    background-color: #FFD100;
}